.rate-high {
  color: #00af9b;
}

.rate-mid {
  color: #ffb800;
}

.rate-low {
  color: #ff2d55;
}

.difficulty-easy {
  color: #00af9b;
}

.difficulty-medium {
  color: #ffb800;
}

.difficulty-hard {
  color: #ff2d55;
}

.all-problems-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 16px;
}

.header-settings {
  display: flex;
  justify-content: center;
}

.header-settings-with-popover {
  display: none;
}

@media screen and (max-width: 767px) {
  .header-settings {
    display: none;
  }

  .header-settings-with-popover {
    display: flex;
    justify-content: center;
  }
}

.search-id-dropdown {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.search-title-dropdown {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
}

.topics-container {
  margin-bottom: -4px;
}

.topic-tag {
  margin-bottom: 4px;
  cursor: pointer;
}

.topics-hidden {
  color: #bfbfbf;
}

.popularity-tooltip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 4px;
}

.rate-tooltip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 4px;
}

.tooltip-value {
  text-align: right;
}

.rate-container {
  max-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: help;
}
