.color-l {
  color: var(--app-title-strong);
}

.color-c {
  color: rgb(255, 161, 22);
}

.color-id {
  color: var(--app-title-muted);
}

.redirect-card {
  max-width: 640px;
  margin: auto;
  padding: 4rem;
  border-radius: 1rem;
  text-align: center;
  background-color: var(--app-card-bg);
  box-shadow: var(--app-card-shadow);
}

.redirect-id-input {
  padding: 2rem 6rem;
}

.redirect-id-input-suffix button {
  transition: all 0.3s;
}

.redirect-id-input-suffix button:hover {
  color: var(--app-link);
}

.redirect-link-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
}

.redirect-link-label {
  text-align: start;
  line-height: 32px;
}

.redirect-footer {
  padding-top: 2rem;
}

@media screen and (max-width: 767px) {
  .redirect-card {
    padding: 2rem;
  }

  .redirect-id-input {
    padding: 2rem 0 1rem;
  }

  .redirect-link-grid {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .redirect-link-label {
    padding-top: 1rem;
  }
}
